.modal-dialog-width {
    max-width: 475px;
    font-family: 'Inter', sans-serif;
}

.modal-section-header {
    background: #F9FAFB;
    border-radius: 5px 5px 0px 0px;
    padding: 25px 25px;
}

.modal-tag {
    padding: 3px 9px;
    background: #22C55E;
    border-radius: 22.2249px;
    width: fit-content;
}

.modal-tag p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
}

.modal-heading {
    font-style: normal;
    font-weight: 700;
    font-size: 22.2249px;
    line-height: 30px;
    display: flex;
    align-items: center;
    letter-spacing: -0.02em;
    color: #000000;
}

.modal-section-header--col-1 {
    width: 65%;
}

.modal-section-header--col-2 {
    width: 35%;
}

.modal-section-header--col-1 h2,
.modal-section-header--col-2 h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #000000;
    margin: 0px;
    padding: 0;
}

.modal-section-header--col-1 p,
.modal-section-header--col-2 p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #000000;
    margin: 0px;
    padding: 0;

}

.modal-section-body {
    background-color: white;
    padding: 25px;
    border-radius: 0px 0px 5px 5px;
}

/* modal body */
.modal-section-body--col-1,
.modal-section-body--col-2 {
    width: 50%;
}

.modal-span {
    font-weight: 400;
    font-size: 12.9645px;
    color: #6B7280;
}

.modal-text {
    font-style: normal;
    font-weight: 500;
    font-size: 14.8166px;
    line-height: 22px;
    color: #111827;
    margin-top: 5px;
}

.modal-seprator {
    border-bottom: 1px solid #DBDBDB;
    margin: 15px 0px;
}

.table>:not(caption)>*>* {
    padding: 7px;
    background-color: transparent !important;
    border-bottom-width: 0px !important;
    box-shadow: none !important;
}

.modal-table {
    margin: 25px 0px;
}

.modal-table-text {
    font-weight: 600;
    font-size: 14.8166px;
    line-height: 22px;
    color: #000000;
}

.modal-heading-secondary {
    font-style: normal;
    font-weight: 800;
    font-size: 25.929px;
    line-height: 33px;
    letter-spacing: -0.02em;
    color: #22C55E;

}

.modal-btn {
    background: #FEF0F1;
    border-radius: 6px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #F15757;
    border: none;
    padding: 8px 20px;

}

.modal-btn:hover {
    background: #F15757;
    border-radius: 6px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: white;
    border: none;
    padding: 8px 20px;

}

/* ===========================================modal2 */
.bg-yellow {
    background-color: #FBBF24;
}

.modal-btn-fill {
    padding: 8px 20px;
    background: #F15757;
    border-radius: 6px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: white;
    border: none;
}

.modal-btn-fill:hover {
    padding: 8px 20px;
    background: #FEF0F1;
    border-radius: 6px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #F15757;
    border: none;
}

/* ================================popup 3 */
.modal-section-header-red {
    background: #FEF2F2;
    border-radius: 6px 6px 0px 0px;
    padding: 25px;
}

.modal-section-header-red h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #EF4444;

}

.modal-section-header-red span {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #F87171;
}

.modal-section-header-red p {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #0F172A;
}

.heading-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #0F172A;
}
.header-input{
    position: relative;
}
.header-input input{
    width: 100%;
    background: #FFFFFF;
border: 1px solid #FCA5A5;
border-radius: 6px;
font-weight: 400;
font-size: 12px;
line-height: 20px;
color: #0F172A;
text-align:left;
display: flex;
justify-content: flex-start;
align-items: flex-start;
padding: 10px 10px 70px 10px;
}
input:focus,
input:active{
    outline: none !important;
    box-shadow: none !important;
}
.file-icon{
    position: absolute;
    right: 10px;
    bottom: 10px;
}
.header-input input::placeholder{

font-weight: 400;
font-size: 12px;
line-height: 20px;
font-feature-settings: 'salt' on;
color: #0F172A;
}
.modal-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
}

.modal-form label {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #111827 !important;
    margin-bottom: 3px;
}

.modal-form .modal-form-input {
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #D1D5DB;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 6px;
    padding: 0px 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #111827;
}

.modal-form .modal-form-input::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #111827;

}

.arrow-icon {
    position: absolute;
    bottom: 15px;
    right: 15px;
    z-index: 1;
}

.dateTime-input {
    width: 48% !important;
}

input[type="datetime-local"]::-webkit-inner-spin-button,
input[type="datetime-local"]::-webkit-calendar-picker-indicator {
    color: white !important;
    opacity: 0 !important;
    background-color: black !important; 
    fill: white !important;
    stroke: white !important;
    z-index: 10;
    filter: invert(1);
    -webkit-opacity:0 !important
}
input[type="datetime-local"]::after{
    display: none !important;
}
.input-row {
    display: flex;
    justify-content: space-between;
}

/* ===========================select input */
.custom-select {
    position: relative;
   
}

.custom-select select {
    display: none;
    /*hide original SELECT element: */
}

.select-selected {
    background-color: white;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #D1D5DB;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 6px;
    padding: 0px 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #111827 !important;
    font-size: 14px !important;
}

.select-items div,
.select-selected {
    font-weight: 400;
font-size: 14px;
line-height: 20px;
color: #111827;
}

.select-items {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    z-index: 99;
    background: #FFFFFF;
    border: 1px solid #D1D5DB;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 6px;
    padding: 10px 10px;
    font-size: 14px;
}
.select-hide {
    display: none;
}
.select-items div{
padding: 5px;
}
.select-items div:hover,
.same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}
/* ===================================quantitty */
.btn-number{
    background: #6B7280;
    height: 27px;
    width: 27px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 25px;
    font-weight: 400;

}
.btn-number:hover{
    background: #6B7280 !important;
    color: white !important;

}
.add-btn{
    font-weight: 500;
font-size: 14px;
line-height: 20px;
color: #F86469;
background-color: transparent;
border: none;
}
.input-number{
    border: none !important;
     width: 40px !important;
     text-align: left;
     font-style: normal;
font-weight: 700;
font-size: 18px;
color: #22C55E;

}
.currency-icon{
font-weight: 700;
font-size: 18px;
color: #22C55E;
}
.modal-textarea{
    background: #FFFFFF;
width: 100% !important;
border: 1px solid #D1D5DB;
border-radius: 6px;
}
@media only screen and (max-width:560px) {
    .modal-dialog-width {
        max-width: 100%;
    }

    .modal-section-body {
        padding: 15px;
    }

    .modal-section-header {
        padding: 15px
    }
    .modal-section-header-red {
        padding: 15px;
    }
    .input-row {
       flex-direction: column;
    }
    
.dateTime-input {
    width:100% !important;
}
.modal-form .modal-form-input {
    width: 100% !important;
}
}

@media only screen and (max-width:424px) {
    .modal-flex {
        flex-direction: column;
    }

    .modal-section-header--col-1 {
        width: 100%;
    }

    .modal-section-header--col-2 {
        width: 100%;
    }

    .modal-section-body--col-1,
    .modal-section-body--col-2 {
        width: 100%;
    }
  
}
@media only screen and (max-width:390px) {
   
    .add-btn-div{
        flex-direction: column !important;
        align-items: flex-start !important;
        justify-content: flex-start !important;
    }
 
}